.webvtt-player {
  .media {
    display: block;
  }
  .media .player {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: bisque;
  }

  .time {
    display: none;
  }

  audio {
    width: 100%;
    height: 54px;
    background-color: blue;
  }
}
